<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
        <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script defer type="text/javascript" src="/jquery/jquery.min.js"></script>
        <script defer type="text/javascript" src="/jquery-ui/jquery-ui.min.js"></script>
        <script defer type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script defer type="text/javascript" src="/sweetalert2/sweetalert2.min.js"></script>
        <script defer type="text/javascript" src="/js/scripts.js"></script>
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Fixed navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search" wtx-context="B2B47E3D-5542-4CD6-8641-F218D96081DE">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" wtx-context="4A48B154-F7AB-4AEC-8676-5C5A827A5C2C">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Begin page content -->
        <main class="flex-shrink-0">